# ==== WEB FRAMEWORK ====
fastapi==0.136.3
uvicorn==0.48.0

# ==== DEEP LEARNING & COMPUTER VISION ====
torch==2.12.0+cu126
ultralytics==8.4.53
opencv_python==4.13.0.92

# ==== DATA PROCESSING & ANALYSIS ====
numpy==2.4.6
pandas==3.0.3

# ==== VISUALIZATION ====
matplotlib==3.10.9
seaborn==0.13.2